
main{
    background-color: coral;
}
.header{
    background-color: rgba(245, 165, 165, 0.253);
}
.logotipo{
    height: 300px;
} 
.imagem1{
    height: 300px;
}
.imagem2{
    height: 300px;
} 
.footer{
    background-color: brown;
}
